<header><h2>Generador de personas</h2></header>
<main>
  <div class="info-container">
    <p>
      ¡Bienvenido a mi proyecto! Me emociona presentarte esta herramienta inspirada en los diversos Character Makers disponibles en la web.
    </p>
    <p>
      Al hacer clic en uno de los botones (que representan diferentes géneros), podrás generar un personaje con datos totalmente aleatorios.
    </p>
    <p>
      Esta herramienta puede resultarte útil para estimular tu creatividad, idear historias fascinantes o encontrar el nombre perfecto para tu próximo proyecto.
    </p>
    <p>
      Es importante destacar que este proyecto no tiene fines lucrativos, no recopila información del usuario y todas las imágenes utilizadas son propiedad de sus respectivos creadores.
    </p>
    <p>
      ¡Espero que disfrutes explorando y que esta herramienta te inspire tanto como a mí!
    </p>
  </div>
  <div class="card-container">
    <ng-container *ngIf="!persona; else personaInfo">
      <div class="photo-container">
        <img
          src="../../../assets/img/people2.png"
          alt="photo"
          width="140px"
          height="140px"
          class="photo"
        />
      </div>
      <div>
        <div style="margin: 5px">
          <p>Nombre:</p>
          <p>Apellido:</p>
          <p>Nacionalidad:</p>
          <p>Edad:</p>
          <p>Genero:</p>
          <p>Altura:</p>
          <p>Signo zodiacal:</p>
          <p>Ocupacion:</p>
          <p>Color Favorito:</p>
        </div>
      </div>
    </ng-container>

    <ng-template #personaInfo>
      <div class="photo-container">
        <img
          [src]="persona.foto"
          alt="photo"
          width="140px"
          height="140px"
          class="photo"
        />
      </div>
      <div>
        <div style="margin: 5px">
          <p>
            <strong>Nombre: </strong> <span>{{ this.persona.nombre }}</span>
          </p>
          <p>
            <strong>Apellido: </strong> <span>{{ this.persona.apellido }}</span>
          </p>
          <p>
            <strong>Nacionalidad: </strong>
            <span> {{ this.persona.nacionalidad }}</span>
          </p>
          <p>
            <strong>Edad: </strong> <span>{{ this.persona.edad }}</span>
          </p>
          <p>
            <strong>Genero: </strong> <span>{{ this.persona.genero }}</span>
          </p>
          <p>
            <strong>Altura: </strong> <span>{{ this.persona.altura }}</span>
          </p>
          <p>
            <strong>Signo zodiacal: </strong>
            <span>{{ this.persona.signozodiacal }}</span>
          </p>
          <p>
            <strong>Ocupacion: </strong>
            <span>{{ this.persona.ocupacion }}</span>
          </p>
          <p>
            <strong>Color Favorito: </strong>
            <span>{{ this.persona.colorfavorito }}</span>
          </p>
        </div>
      </div>
    </ng-template>
  </div>
  <div>
    <button class="button-1" (click)="obtenerHombre()">Hombre</button>
    <button class="button-2" (click)="obtenerMujer()">Mujer</button>
  </div>
</main>
<footer><p>Autor: Leandro Carlino</p></footer>
